<nav>
    <a [routerLink]="['/']">
        <h3>RestaurantApp</h3>
    </a>
    
    <div class="link-wrapper">
        <a>{{displayUser() | uppercase}}</a>
        <a routerLink="/home" class="nav-link" routerLinkActive="active-link" [routerLinkActiveOptions]={exact:true}>Home</a>
        <a routerLink="/dishes" class="nav-link" routerLinkActive="active-link">Menu</a>
        <a *ngIf="isManager() || isAdmin()" routerLink="/add-dish" class="nav-link" routerLinkActive="active-link">Add dish</a>
        <a *ngIf="isAdmin()" routerLink="/admin-panel" class="nav-link" routerLinkActive="active-link">Admin panel</a>
        <a *ngIf="!isLoggedIn()" routerLink="/login-page" routerLinkActive="active-link">Login</a>
        <a *ngIf="!isLoggedIn()" routerLink="/register-page" routerLinkActive="active-link">Sign up</a>
        <a *ngIf="isLoggedIn()" (click)="onLogout()" routerLink="/" routerLinkActive="active-link">Logout</a>
        <a routerLink="/cart" class="button fancy-button">
            <i class="material-icons">shopping_cart</i>Cart
        </a>
        <a>
            <app-expansion-menu></app-expansion-menu>
        </a>
    </div>

</nav>