<div class="login-component">
    <div class="title-container">
        <h1 class="login title">REGISTER</h1>
    </div>

    <div class="form-container">
        <form class="form">
            <div class="field">
                <input #nickInput class="input" type="text" placeholder="Nick">
            </div>
            <p>Must be at least 8 characters long</p>
            <div class="field">
                <input #emailInput class="input" type="email" placeholder="Email">
            </div>
            <p>Must be at least 8 characters long, type '@_._'</p>
            <div class="field">
                <input #passwordInput class="input" type="password" placeholder="Password">
            </div>
            <p>Must be at least 8 characters long</p>
            <div class="field">
                <input #repeatPasswordInput class="input" type="password" placeholder="Repeat password">
            </div>
            <div *ngIf="wrongPasswords(passwordInput.value, repeatPasswordInput.value)">
                <ngb-alert type='danger'(closed)="close()">Passwords don't match!</ngb-alert>
            </div>
            <div *ngIf="showAlert">
                <ngb-alert type='danger'(closed)="close()">{{ alertMessage }}</ngb-alert>
            </div>
        </form>
        <div class="button-container">
            <button class="button login-button" (click)="onRegisterButtonClicked(nickInput.value, emailInput.value, passwordInput.value, repeatPasswordInput.value)">
                Register
            </button>
        </div>
    </div>

    <div class="register-suggestion">
        <div class="register-suggestion-text">
            <p>
                Already have an account? Sign in!
            </p>
        </div>
        <div class="register-suggestion-button-box">
            <button class="button register-button" routerLink="/login-page">
                Redirect to sign in page
            </button>
        </div>
    </div>
</div>