h1, h2, h3 {
  color: white;
  margin: 0;
}

i {
    color: white;
}

nav {
    background-color: #435A60;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.link-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

a {
    cursor: pointer;
    color: rgba(255, 255, 255, 0.596);
    background-color: #435a60;
    text-decoration: none;
    font-size: medium;
}

a:hover {
    opacity: 0.8;
    background: none;
    color: white;
}

/* Button */
.button, button {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 8px;
    border-radius: 2px;
    cursor: pointer;
    /* background-color: #435A60; */
    color: white;
    border: none;
    font-size: small;
  }
  
.button:hover, fancy-button:hover {
    opacity: 0.8;
    font-weight: normal;
    background-color: white;
    color: #435A60;
}

.button:disabled, button:disabled {
    opacity: 0.5;
    cursor: auto;
}
  
.fancy-button {
    background-color: white;
    color: #3e5257;
    font-family: 'Roboto', Arial, sans-serif;
    font-size: small;
}


.fancy-button i.material-icons {
    color: #3e5257;
    padding-right: 4px;
}

.active-link {
    /* text-decoration: underline; */
    color: white;
    /* font-size: large; */
    /* color: antiquewhite; */
    /* font-weight: bold; */
}

.nav-link {
    /* text-decoration: none; */
}

.nav-link.active-link {
    /* font-size: large; */
}