/* * {
  box-sizing:border-box;
} */

:root{
    background-color: silver;
    color: navy;
    grid-gap: 0.2rem;
    --main-radius: 2px;
    --main-padding: 1px;
    --center-padding: 10px;
    --outer-padding: 13px;
    --top-padding: 2px;
    --border-width: 1px;
    text-transform: capitalize;
    text-align: center;
    width: 1000px;
    height: 100%;
    padding: 10%;
}


.outer_container {
    display: grid;
    min-height: 300px;
    width: 100%;
    background: darkgray;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
    "container";
    border-radius: var(--main-radius);
    padding: var(--outer-padding);
    grid-gap: 1px;
    border: solid;
    border-width: var(--border-width);
  }

  .inner_container{
    display: grid;
    min-height: 300px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.9fr 0.4fr 1.6fr 0.3fr;
    grid-area: container;
    grid-template-areas:
    "header header header header"
    "nav nav nav nav"
    "left_column content content right_column"
    "footer footer footer footer";
    border: solid;
    border-width:var(--border-width);
    background-color: black;
    grid-gap: 1px;
  }

  header {
    display: grid;
    background: lightslategray;
    grid-area: header;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 1fr 0.2fr;
    grid-template-areas: 
    "logo website_top"
    "logo website_top"
    "logo website_top";
    justify-content: space-evenly;
    border: solid;
    border-width:var(--border-width);
  }

  nav {
    display: grid;
    grid-area: nav;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "main_page gallery localisation contact";
    background-color: antiquewhite;
    grid-gap: 1px;
  }
  
  main {
    background: whitesmoke;
    grid-area: content;
  }

  .left_column{
    background: whitesmoke;
    grid-area: left_column;
  }

  .right_column{
    background: whitesmoke;
    grid-area: right_column;
  }
  
  .logo {
    width: 80%;
    background: beige;
    grid-area: logo;
    grid-area: 2 / 1 / span 1 / span 1;
    z-index: 1;
    justify-content: space-between;
    margin-left: 10%;
    text-align: left;
    border: solid;
    border-width:var(--border-width);
  }

  .website_top {
    grid-area: website_top;
    grid-area: 2 / 1 / span 4 / span 4;
    justify-content: center;
  }
  
  .gallery {
    background: lightgoldenrodyellow;
    grid-area: gallery;
  }

  .main_page {
    background: blanchedalmond;
    grid-area: main_page;
  }

  .localisation {
    background: blanchedalmond;
    grid-area: localisation;
  }

  .contact {
    background: lightgoldenrodyellow;
    grid-area: contact;
  }
  
  footer {
    background: lightslategray;
    grid-area: footer;
  }

  @media (max-width: 1300px) {      
    .inner_container{
      display: grid;
      /* min-height: 300px; */
      /* width: 100%; */
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: 0.9fr 0.4fr 1.6fr 1fr 0.3fr;
      grid-area: container;
      grid-template-areas:
      "header header header header"
      "nav nav nav nav"
      "left_column content content content"
      "right_column right_column right_column right_column"
      "footer footer footer footer";
      border: solid;
      border-width:var(--border-width);
      background-color: black;
      grid-gap: 1px;
  }

}

@media (max-width: 1201px) {      
  .logo{
    display: none;
  }
  
  .inner_container{
    display: grid;
    /* min-height: 300px; */
    /* width: 100%; */
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.9fr 0.4fr 1.6fr 1fr 1fr 0.3fr;
    grid-area: container;
    grid-template-areas:
    "header header header header"
    "nav nav nav nav"
    "left_column left_column left_column left_column"
    "content content content content"
    "right_column right_column right_column right_column"
    "footer footer footer footer";
    border: solid;
    border-width:var(--border-width);
    background-color: black;
    grid-gap: 1px;
}

}

@media (max-width: 1150px) {      
  .logo{
    display: none;
  }
  
  .inner_container{
    display: grid;
    /* min-height: 300px; */
    /* width: 100%; */
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.9fr 0.4fr 1.6fr 1fr 1fr 0.3fr;
    grid-area: container;
    grid-template-areas:
    "header header header header"
    "nav nav nav nav"
    "left_column left_column left_column left_column"
    "content content content content"
    "right_column right_column right_column right_column"
    "footer footer footer footer";
    border: solid;
    border-width:var(--border-width);
    background-color: black;
    grid-gap: 1px;
}

}