<div class="title">
    <h2>Users</h2>
</div>
<ul class="users">
    <div class="cards-container">
        <li *ngFor="let user of users; let rowIndex = index">
            
            <span class="badge">{{user.role}}</span>
            <div class="card">
                <div class="text-container">
                    <h3>{{user.nick}}</h3>
                    <h4>{{user.email}}</h4>
                    <h4>{{user.role}}</h4>
                    <div class="button-box">
                        <button *ngIf="user.role=='user'" class="button ban" title="ban user" (click)="banUser(user)">Ban user</button>
                        <button *ngIf="user.role=='user'" class="button ban" title="ban user" (click)="unbanUser(user)">Unban user</button>
                    </div>
                </div>
                <div class="button-box">
                    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="currency menu" class="button fancy-button">
                        <span class="currency">Update role</span>
                    </button>
                    <mat-menu #menu="matMenu">
                      
                        <mat-radio-group
                            aria-labelledby="radio-group-label"
                            class="radio-group"
                            [(ngModel)]="role">
                            <mat-radio-button class="radio-button" *ngFor="let role of availableRoles" [value]="role" 
                                (click)="setRole(user, role)">
                                {{role}}
                            </mat-radio-button>
                        </mat-radio-group>

                    </mat-menu>
                </div>
            </div>
        </li>
    </div>
</ul>
