* {
    box-sizing: border-box;
    background-color: ivory;
  }
  
  body {
    margin: 0;
    font-family: Arial;
  }
  
  .header {
    text-align: center;
    padding: 32px;
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  /* Create three equal columns that sits next to each other */
  .column {
    flex: 33%;
    max-width: 33%;
    padding: 0 4px;
  }
  
  .column picture {
    margin-top: 8px;
    vertical-align: middle;
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media (max-width: 800px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
  }