h1 {
    /* color: #369; */
    color: #3e5257;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 250%;
}

h2, h3, h4 {
    color: #444;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}

p, span {
    color: #444;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}

app-top-bar {
    width: 100%;
    height: 68px;
    /* background-color: #1976d2; */
    background-color: #435A60;
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }