<div class="login-component">
    <div class="title-container">
        <h1 class="login title">LOGIN</h1>
    </div>

    <div class="form-container">
        <form class="form">
            <div class="field">
                <input #emailInput class="input" type="email" placeholder="Email">
            </div>
            <div class="field">
                <input #passwordInput class="input" type="password" placeholder="Password">
            </div>
            <div *ngIf="showAlert">
                <ngb-alert type='danger'(closed)="close()">{{ alertMessage }}</ngb-alert>
            </div>
        </form>
        <div class="button-container">
            <button class="button login-button" (click)="onLoginButtonClicked(emailInput.value, passwordInput.value)">
                Login
            </button>
        </div>
    </div>

    <div class="register-suggestion">
        <div class="register-suggestion-text">
            <p>
                Don't have an account? Create one!
            </p>
        </div>
        <div class="register-suggestion-button-box">
            <button class="button register-button" routerLink="/register-page">
                Redirect to register page
            </button>
        </div>
    </div>
</div>