<div class="welcome-container">
    <h1>Czas na dobre jedzenie</h1>
    <a routerLink="/dishes">Zobacz menu <i class="bi bi-arrow-right-square"></i></a>
</div>
<div class="banner">
</div>

<div class="contact-pool">
    <div class="address">
        <h2>Nasza lokalizacja:</h2>
        <h3>Akademia Górniczo-Hutnicza im. Stanisława Staszica w Krakowie</h3>
        <h3>Instytut Informatyki</h3>
        <h3>pawilon D-17, ul. Kawiory 21, 30-055 Kraków</h3>
    </div>
    <div class="phone">
        <h3>Tel. +48 12 617 59 10</h3>
    </div>

</div>
<app-map></app-map>
