nav {
    margin: 2% 0px 1% 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-class {
    position: relative;
    left: 30%;
}

.dishes {
    margin: 0 0 2em 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

.dishes li {
    position: relative;
    cursor: pointer;
}

.dishes li:hover {
    left: .1em;
}

.dishes a {
    color: #333;
    text-decoration: none;
    background-color: #EEE;
    margin: .5em;
    padding: .3em 0;
    height: 1.6em;
    border-radius: 4px;
    display: block;
    width: 100%;
}

.dishes a:hover {
    color: #2c3a41;
    background-color: #e6e6e6;
}

.dishes a:active {
    background-color: #525252;
    color: #fafafa;
}

.dishes .badge {
    display: inline-block;
    /* font-size: small; */
    font-size: medium;
    color: white;
    padding: 0.5em 0.7em 0 0.7em;
    background-color:#405061;
    line-height: 1em;
    position: relative;
    left: -1px;
    top: -4px;
    /* height: 1.5em; */
    height: 2em;
    min-width: 16px;
    text-align: right;
    margin-right: .8em;
    border-radius: 4px 0 0 4px;
}

.button-box {
    display: flex;
    align-items: center;
    justify-content: end;
    font-size: medium;
    font-size: small;
}

button {
    /* width: 1em; */
    height: 1.5em;
    font-size: 1.5rem;
    background-color: white;
    color:  #525252;
    margin: auto;
}

button:hover {
    background-color: #52525241;
    color: white;
}

.delete {
    font-size: medium;
    padding: 0em 0.7em 0em 0.7em;
    line-height: 1em;
    position: relative;
    left: -1px;
    top: -4px;
    height: 2em;
    min-width: 20px;
}

.cards-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* grid-template-rows: repeat(5, 1fr); */
    grid-column-gap: 2%;
    grid-row-gap: 3%;
    padding: 1%;
}

.card {
    background-color: beige;
    height: 100%;
    max-height: 800px;
    box-shadow: 0 4px 8px 0 rgba(144, 118, 175, 0.2);
    transition: 0.8s;
    border-radius: 15px;
    line-height: 92%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    transition: width 2s, height 4s;
}

.text-container {
    padding: 0px 12px;
    align-content: unset;
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-width: 0;
    font-size: smaller;
}

img {
    width: 100%; 
    /* max-height: 55%;
    min-height: 45%; */
    height: 50%;
}

h2, h3, h4 {
    color: #444;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}

* {
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: #2c3a41;
    /* font-size: smaller; */
}

.price {
    font-size: medium;
}

/* Media query */
@media (max-width: 1100px) {
    .cards-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 2%;
        grid-row-gap: 3%;
        padding: 1%;
    }

    nav {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .nav-button {
        margin: 1%;
        width: 60%;
    }
    
    .search-class {
        position: relative;
        left: 20%;
    }
}

@media (max-width: 600px) {
    .cards-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-column-gap: 1%;
        grid-row-gap: 1%;
        padding: 1%;
    }

    nav {
        margin: 2% 0px 1% 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .nav-button {
        margin: 1%;
        width: 90%;
    }
    
    .search-class {
        position: relative;
        left: 0%;
    }
}

