/* Checkout Cart */

.cart-item, .shipping-item {
    width: 100%;
    min-width: 400px;
    max-width: 450px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 16px 32px;
    margin-bottom: 8px;
    border-radius: 2px;
   background-color: #EEEEEE;
}

.cart-summary {
    width: 100%;
    min-width: 400px;
    max-width: 450px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 16px 32px;
    margin-bottom: 8px;
    border-radius: 2px;
    color: rgb(0, 52, 104);
    font-weight: bold;
    background-color: #d8d8d8;
}

.cart-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    color: rgb(0, 52, 104);
    font-weight: bold;
}