<div class="card-wrapper">
    <!-- <div class="button-box">
        <button class="button" (click)="goBack()">Powrót do Menu</button>
    </div> -->
    
    <div class="card">
        <app-photo-slider [photos]="dish.photos"></app-photo-slider>
        <div class="details-container">
            <div class="text-container">
                <h2>{{dish.name | uppercase}}</h2>
                <p>{{"kuchnia" | uppercase}}:
                <span *ngFor="let c of dish.cuisine">{{c | uppercase}}, </span>
                <br>kategorie:
                <span *ngFor="let c of dish.category">{{c}}, </span>
                <br><br>{{dish.description}}
                <br><br><span class="price">Cena: {{dish.price | currency}}</span></p>
                <div class="button-box">
                    <button class="button" (click)="addToReservation(dish)">+</button>
                    Dostępnych dziś sztuk dania: {{getCurrentlyAvailableDishAmount(dish)}}<br>
                    Rezerwacji na to danie: {{getCurrentReservedNumber(dish)}}
                    <button class="button" (click)="deleteFromReservation(dish)">-</button>
                </div>
                <!-- <app-reviews [dishId]="dish.id"></app-reviews> -->
            </div>
            <app-reviews [dishId]="dish.id"></app-reviews>
        </div>
    </div>

    <div class="review-tab">
        <mat-tab-group>
            <mat-tab label="Dodaj recenzję">
                <app-review-form 
                    (nickNotify)="onNickNotify($event)" 
                    (nameNotify)="onNameNotify($event)" 
                    (bodyNotify)="onBodyNotify($event)" 
                    (dateNotify)="onDateNotify($event)" 
                    (notifyReady)="addNewReview()">
                </app-review-form>
            </mat-tab>
    
            <mat-tab class="reviews-display" label="Pokaż recenzje">
                <mat-paginator [length]="reviews.length" 
                [pageSize]="5"
                [pageSizeOptions]="[1, 3, 5, 10]"
                (page)="onPageChange($event)"
                aria-label="Select page">
                </mat-paginator>
                <div class="reviews-content-display" *ngFor="let review of getPaginatedReviews()">
                    <div>{{review.nick}}</div>
                    <div>{{review.body}}</div>
                    <div>{{review.date}}</div>
                </div>
            </mat-tab>
          </mat-tab-group>
    </div>
</div>

