.slideshow-container {
  width: 400px;
  height: 400px;
  /* background-color:rgb(87, 141, 143); */
  background-color: black;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.photo-container {
    height: 80%;
    width: fit-content;
    align-items: center;
    display: flex;
}

.controls-container {
    width: 100%;
    display: flex;
    /* align-items: center; */
    justify-content: space-evenly;
}

img {
    width: 100%;
    height: fit-content;
    max-height: 350px;
}

.mySlides {
  display: none;
}

.prev, .next {
  cursor: pointer;
  padding: 16px;
  color: rgb(252, 247, 223);
  font-weight: bold;
  font-size: 25px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
  color: beige;
}

.dots-area {
    text-align: center;
}

.dot {
  cursor: pointer;
  height: 13px;
  width: 13px;
  margin: 0 6px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.button {
    color: whitesmoke;
    background-color:rgba(87, 141, 143, 0.692);
    border: none;
    border-radius: 5%;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 10px 0 rgba(0,0,0,0.19);
}
  
.button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}


.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}