<p>dishes works!</p>
<ul class="dishes">
    <div class="cards-container">
        <li *ngFor="let dish of dishes; let rowIndex = index">
            <!-- {{rowIndex+1}} -->
            <!-- <a routerLink="/detail/{{dish.id}}"> -->
                <!-- <div class="dishlist-element">
                    <span class="badge">{{ dish.id }}</span>{{ dish.name }}
                </div> -->
            <div class="card">
                <img src={{dish.photos[0]}} alt={{dish.name}} style="width: 100%">
                <h1>{{dish.name}}</h1>
                <p *ngFor="let c of dish.cuisine">kuchnia {{c}}</p> 
                <p>{{dish.category}}</p>
                <p>{{dish.description}}</p>
                <button class="button add-button">Read more</button>
            </div>
            <!-- </a> -->
            <!-- <button class="delete" title="delete hero" (click)="delete(hero)">x</button> -->
        </li>
    </div>
</ul>
