<h2 [ngStyle]="{
    'background-color': getAllReservationsNumber() > 10 ? 'rgb(194, 222, 255)' : 'rgb(255, 187, 98, 0.959)'}">
    Sumaryczna liczba aktualnie zarezerwowanych dań: {{getAllReservationsNumber()}}</h2>
<ul class="dishes">
    <div class="cards-container">
        <li *ngFor="let dish of dishes; let rowIndex = index">
            <span class="badge" [ngStyle]="{
                    'background-color': getPriceColour(dish), 'border-width': getBorderWidth(dish)
                }">{{ rowIndex + 1 }} {{ dish.name }}</span>
                <button class="button delete" title="delete dish" (click)="deleteDish(dish)">Usuń</button>
            
            <!-- <a routerLink="/detail/{{dish.id}}"> -->
                <!-- <div class="dishlist-element">
                    <span class="badge">{{ dish.id }}</span>{{ dish.name }}
                </div> -->
            <div class="card" [ngStyle]="{
                'background-color': getCurrentlyAvailableDishAmount(dish) <= 3 ? 'rgba(228, 92, 87, 0.52)' : 'beige'
            }">
                <img src={{dish.photos[0]}} alt={{dish.name}}>
                <div class="text-container" [ngStyle]="{
                    'border-color': getPriceColour(dish), 'border-width': getBorderWidth(dish)
                }">
                    <h2>{{dish.name | uppercase}}</h2>
                    <p>{{"kuchnia" | uppercase}}:
                    <span *ngFor="let c of dish.cuisine">{{c | uppercase}}, </span>
                    <br>kategorie:
                    <span *ngFor="let c of dish.category">{{c}}, </span>
                    <br><br>{{dish.description}}
                    <br><br><span>Cena: {{dish.price | currency}}</span></p>
                    <div class="button-box">
                        <button class="button" (click)="addToReservation(dish)">+</button>
                        Dostępnych dziś sztuk dania: {{getCurrentlyAvailableDishAmount(dish)}}<br>
                        Rezerwacji na to danie: {{getCurrentReservedNumber(dish)}}
                        <button class="button" (click)="deleteFromReservation(dish)">-</button>
                    </div>
                </div>
            </div>
            <!-- </a> -->
        </li>
    </div>
</ul>
