<div class="container">
    <h2>Zadanie 3</h2>
    <div class="centered">
        <label for="new-actor-name">Actor name:</label>
        <input id="new-actor-name" #actorName/>

        <label for="new-actor-surname">Actor surname:</label>
        <input id="new-actor-surname" #actorSurname/>

        <label for="new-actor-movie">Actor movie:</label>
        <input id="new-actor-movie" #actorMovie/>

        <button (click)="registerActor(
            actorName.value, actorSurname.value, actorMovie.value); 
            actorName.value=''; actorSurname.value=''; actorMovie.value=''">Register actor</button>
    </div>

    <div *ngIf="actor" class="centered">
        <h2>Actor Details</h2>
        <div><span>surname: </span>{{actor.surname}}</div>
        <div><span>name: </span>{{actor.name}}</div>
        <div><span>movie: </span>{{actor.movie}}</div>
    </div>

    <div class="interpolation centered">
        <h3>Interpolation Experiments</h3>
        {{2+2}} <br>
        <p>Actor info will display after having registered you actor</p>
        <p *ngIf="actor">
            Actor name length: {{actor.name.length}} <br>
            Actor name toUpperCase: {{actor.name.toUpperCase()}} <br>
        </p>
        <div *ngIf="router">
            Router url: {{ router.url }} 
        </div>
    </div>

    <h2>Zadanie 4</h2>
    <div class="tabliczka centered">
        <h3>Dwie tabliczki</h3>
        1. {{tabStr}} <br>
        2. {{tabNo}} <br>
        <button (click)="showTabliczka()">Tabliczka</button>
        <div *ngIf="tabRes">
            Wynik: {{tabRes}}
        </div>
    </div>
</div>