* {
    color: #616161;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1 {
  color: white;
  margin: 0;
}

i {
    color: white;
}


a {
    cursor: pointer;
    color: white;
    background-color: #435a60;
    text-decoration: none;
}

a:hover {
    opacity: 0.8;
    background: none;
}

/* Button */
.button, button {
    display: inline-flex;
    align-items: center;
    padding: 8px 16px;
    border-radius: 2px;
    font-size: 14px;
    cursor: pointer;
    background-color: #435A60;
    color: white;
    border: none;
  }
  
.button:hover, button:hover {
    opacity: 0.8;
    font-weight: normal;
    background-color: white;
}

.button:disabled, button:disabled {
    opacity: 0.5;
    cursor: auto;
}
  
  /* Fancy Button */
.fancy-button {
    background-color: white;
    color: #3e5257;
    font-family: 'Roboto', Arial, sans-serif;
}

.fancy-button i.material-icons {
    color: #3e5257;
    padding-right: 4px;
}

nav {
    width: 100%;
    background-color: #435A60;
    /* background-color:#405061; */
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.link-wrapper {
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}