<nav>
    <a [routerLink]="['/']">
        <h1>RestaurantApp</h1>
    </a>
    
    <div class="link-wrapper">
        <a routerLink="/home" class="nav-link" routerLinkActive="active-link">Home</a>
        <a routerLink="/dishes" class="nav-link" routerLinkActive="active-link">Menu</a>
        <a routerLink="/add-dish" class="nav-link" routerLinkActive="active-link">Dodaj danie</a>
        <a routerLink="/cart" class="button fancy-button">
            <i class="material-icons">shopping_cart</i>Koszyk
        </a>
        <a>
            <app-expansion-menu></app-expansion-menu>
        </a>
    </div>

</nav>